.h2{
    text-align: center;
    margin-bottom: 40px;
}
.h4{
   font-weight: bold;
   text-align: center; 
}
.h3{
    text-align: center;
    margin-top: 20px;
}
.inputpara{
    margin-left: 250px;
}
.submitbtn{
    margin-left: 380px;
}
.enablebtn{
    margin-left: 250px;
}
.btnrow{
    margin-top: 20px;
    padding-bottom: 40px;
}
.inputform{
    padding-right: 420px;
    margin-left: 250px;
}
.carousel-control-prev-icon{
    margin-left: -50px;
}
.carousel-control-next-icon{
    margin-left: 50px;
}
.checked {
    color: orange;
}
.rating{
    margin-bottom: -2px;
}
.prize{
    margin-bottom: 30px;
}
.form{
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}